<script>
  import Expand from "./Expand.svelte";
  import Information from "./Information.svelte";
  import commands from "./commands";
  import Command from "./Command.svelte";
  import Video from "./Video.svelte";

  let value = "";
  let loading = true;
  let iframe = null;

  const handleCommandChange = script => {
    value = script;
  };
  const setLoading = val => (loading = val);
  const onLoadStart = () => setLoading(true);
  const onLoadEnd = ifrm => {
    iframe = ifrm;
    setLoading(false);
  };
  const handleSendCommand = () => {
    if (loading || !iframe) {
      console.log("Can not send commands while loading");
      return;
    }

    const command = eval("(" + value + ")");

    iframe.contentWindow.postMessage(command, "*");
  };
</script>

<style>
  .container {
    display: flex;
    align-items: flex-start;
  }

  .left {
    flex-grow: 1;
  }

  .right {
    flex-grow: 1;
  }
</style>

<div>
  <Information />
  <div class="container">
    <div class="left">
      <div>
        {#each commands as command}
          <Command {command} onClick={handleCommandChange} />
        {/each}
      </div>
      <textarea bind:value cols="35" rows="15" />
      <br />
      <button on:click={handleSendCommand}>Send command</button>
    </div>
    <div class="right">
      <Video width={600} height={400} {onLoadStart} {onLoadEnd} />
    </div>
  </div>
</div>
