<script>
  export let title;
  export let content;

  let open = false;
  let containerNode = null;
  let titleNode = null;

  const handleClick = () => {
    open = !open;
  };
</script>

<style>
  .container {
    max-height: 40px;
    transition: max-height 350ms linear;
    overflow: hidden;
    background: #fafafa;
    border: 1px solid black;
    border-radius: 2px;
  }

  .container.open {
    max-height: 1000px;
  }

  .title {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 8px;
    background: #eaeaea;
  }

  .content {
    padding: 8px;
  }
</style>

<div bind:this={containerNode} class={open ? 'container open' : 'container'}>
  <div class="title" bind:this={titleNode} on:click={handleClick}>{title}</div>
  <div class="content">{content}</div>
</div>
