<style>
  .container {
    border: 1px solid #000;
    border-radius: 2px;
    padding: 8px;
  }

  .code {
    padding: 8px;
    background: #e4e3e3;
    border-radius: 2px;
    margin-left: 8px;
  }
</style>

<div class="container">
  <h3>General information</h3>
  <p>Video component is listening to "message" event.</p>
  <p>You can send it by executing the folowing code</p>
  <p class="code">iframeNode.contentWindow.postMessage(command, "*");</p>
  <p>
    if you open video component in an iframe. Or, if you have an access to the
    JS runtime
  </p>
  <p class="code">window.postMessage(command, "*");</p>
  <h3>Playground</h3>
  <p>
    To use this playground enter video component address
    (http://your_server_address/embedded.html) and click "load" button.
  </p>
  <p>After video component is loaded you can start sending commands.</p>
  <h3>Initialization</h3>
  <ul>
    <li>
      Send the "init" command. You have to specify "live" or "archive" mode,
      video origin (looks like
      "HOST_NAME/DeviceIpint.1/SourceEndpoint.video:0:0") and storage (), if you
      intend to switch between "archive" and "live" modes.
    </li>
    <li>
      To change cameras, send the "reInit" command. Its structure is almost the
      same as the "init" command's structure.
    </li>
    <li>
      You can switch between "live" and "archive" modes (if storage was
      specified on initialization) by sending the corresponding commands.
    </li>
    <li>
      While in "archive" mode you can change current time by send "setTime"
      command.
    </li>
    <li>
      While in "archive" mode you can control the playback by sending "play" and
      "stop" commands
    </li>
  </ul>
</div>
