<script>
  export let width;
  export let height;
  export let onLoadStart;
  export let onLoadEnd;

  let src = "http://192.168.99.108/embedded.html";
  let iframe = { src: "" };

  const loadIframe = () => {
    onLoadStart();
    iframe.src = src;
  };
  const handleIframeLoad = () => {
    if (iframe.src === "") {
      return;
    }

    onLoadEnd(iframe);
  };
</script>

<style>
  .src-input-container {
    display: flex;
  }
  .input {
    width: 100%;
  }
</style>

<div>
  <div class="src-input-container">
    <input
      class="input"
      bind:value={src}
      type="text"
      placeholder="http://1.2.3.4/embedded.html" />
    <button on:click={loadIframe}>load</button>
  </div>
  <iframe
    bind:this={iframe}
    {width}
    {height}
    src=""
    frameborder="0"
    on:load={handleIframeLoad} />
</div>
